@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Secular One', sans-serif;
    color: white;
}
body{
    background:rgb(37, 37, 37);
}
/* .box{border: 2px solid red;} */
.container{
    display:flex;
    /* border: 2px solid blue; */
    background-color: rgb(29, 29, 29);
    box-shadow: 0 0.125rem 1.5rem rgb(255 255 255 / 13%);
    height: 140px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    align-content: stretch;
    padding: 0px 15px;
}
#item2{
    display: flex;
    width: 440px;
}
#item1{
    width:300px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
#item1 img{
    width: 100px;
    position: relative;
    left: 1px;
}
#logotext{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 20px;
    letter-spacing: 3px;
    align-items: center;
    align-self: center;
    position: relative;
    top: 4px;
}
#axom{
    font-size: 30px;
}
#dash{
    color: rgb(255, 201, 24);
    position: relative;
    top: 4px;
}
.navbar{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}
.nav-item a {
    padding: 10px 15px;
    text-decoration: none;
    font-family: 'Secular One', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px
}

.nav-item:hover {
    border-radius: 20px;
    background-color: white;
}

.nav-item:hover a {
    color: rgb(58, 58, 58);
}

@media screen and (max-width:770px){
    .container{
        justify-content: center;
    }
    .navbar{
        flex-direction: column;
    }
}
@media screen and (min-width: 320px) and (max-width:480px){
    .container{
        justify-content: center;
    }
    .nav-links a{
        padding: 5px 6px;
        font-size: 15px;
    }
    .navbar{
        flex-direction: column;
    }
}
